<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/background.css')}}"
    />
  </head>
  <body>
    <div class="menu">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('add') }}">Add</a>
      <a href="{{ url_for('delete') }}">Delete</a>
    </div>
  </body>
</html>

{% block content %} {% endblock content %}
