{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/background.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <formContainer>
          <form method="POST" action="">
            {{ form.hidden_tag() }} {{ form.first_name.label }} {{
            form.first_name }}
            <br />
            {{ form.last_name.label }} {{ form.last_name }}
            <br />
            {{ form.d_o_b.label }} {{ form.d_o_b }}
            <br />
            {{ form.email.label }} {{ form.email }}
            <br />
            {{ form.address.label }} {{ form.address }}
            <br />
            {{ form.post_code.label }} {{ form.post_code }}
            <br />
            {{ form.submit }}
            <br />
            {{ message }}
            <br />
          </form>
        </formContainer>
      </div>
    </div>
  </body>
</html>

{% endblock content %}
