{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/background.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <formContainer>
          <form method="POST" action="">
            {{ form.hidden_tag() }} 
            {{ form.from.label }} {{ form.from }}
            <br />
          </form>
        </formContainer>
      </div>
    </div>
  </body>
</html>

{% endblock content %}

